{% extends "core/card-holder.html" %}

{% block cards %}
    
{% include "core/card.html" with borderColor="border-teal-600" cardColor="text-teal-600" titleIcon="fa-user-shield" cardTitle="Users" cardText="53" cardVisibility="" textIcon="fa-plus" textIconColor="text-green-400" textIconTransform="" textIconTransformType="" textIconHidden="" cardSubText="3" cardSubTextHidden=""%}

{% include "core/card.html" with borderColor="border-red-600" cardColor="text-red-600" titleIcon="fa-users" cardTitle="Employees" cardText="951" cardVisibility="" textIcon="fa-arrow-up" textIconColor="text-green-400" textIconTransform="transform" textIconTransformType="rotate-45" textIconHidden="" cardSubText="7.2%" cardSubTextHidden=""%}

{% include "core/card.html" with borderColor="border-emerald-600" cardColor="text-emerald-600" titleIcon="fa-clipboard-list" cardTitle="Queries" cardText="22" cardVisibility="" textIcon="" textIconColor="" textIconTransform="" textIconTransformType="" textIconHidden="hidden" cardSubText="Avail" cardSubTextHidden=""%}

{% include "core/card.html" with borderColor="border-orange-600" cardColor="text-orange-600" titleIcon="fa-cogs" cardTitle="Manage" cardText="1" cardVisibility="invisible" textIcon="" textIconColor="" textIconTransform="" textIconTransformType="" textIconHidden="hidden" cardSubText="" cardSubTextHidden="hidden"%}

{% include "core/card.html" with borderColor="border-lightBlue-600" cardColor="text-lightBlue-600" titleIcon="fa-passport" cardTitle="Bidding" cardText="36" cardVisibility="" textIcon="" textIconColor="" textIconTransform="" textIconTransformType="" textIconHidden="hidden" cardSubText="Open" cardSubTextHidden=""%}

{% include "core/card.html" with borderColor="border-purple-600" cardColor="text-purple-600" titleIcon="fa-walking" cardTitle="Contractors" cardText="1" cardVisibility="invisible" textIcon="" textIconColor="" textIconTransform="" textIconTransformType="" textIconHidden="hidden" cardSubText="" cardSubTextHidden="hidden"%}

{% endblock %}