{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="ui icon message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">
      Do you have any questions?
    </div>
    <p>If so contact me by email: info@email.com</p>
  </div>
</div>

<div class="ui segment">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus pretium gravida. Duis consequat lacus in maximus tincidunt. Suspendisse vitae eros ullamcorper, accumsan nisi sed, mollis magna. Fusce eu varius orci. Vivamus posuere dui nec nulla dignissim fermentum. Maecenas id libero non ante rutrum pulvinar. Mauris felis ante, hendrerit nec convallis eu, sagittis quis lacus. Nunc eu molestie turpis. Donec aliquam mi sed nisi consectetur vulputate. Aenean mollis pretium nisl eget pulvinar. In blandit eu mi vitae sollicitudin. Nunc fermentum rhoncus tortor, id condimentum velit sodales at.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus pretium gravida. Duis consequat lacus in maximus tincidunt. Suspendisse vitae eros ullamcorper, accumsan nisi sed, mollis magna. Fusce eu varius orci. Vivamus posuere dui nec nulla dignissim fermentum. Maecenas id libero non ante rutrum pulvinar. Mauris felis ante, hendrerit nec convallis eu, sagittis quis lacus. Nunc eu molestie turpis. Donec aliquam mi sed nisi consectetur vulputate. Aenean mollis pretium nisl eget pulvinar. In blandit eu mi vitae sollicitudin. Nunc fermentum rhoncus tortor, id condimentum velit sodales at.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus pretium gravida. Duis consequat lacus in maximus tincidunt. Suspendisse vitae eros ullamcorper, accumsan nisi sed, mollis magna. Fusce eu varius orci. Vivamus posuere dui nec nulla dignissim fermentum. Maecenas id libero non ante rutrum pulvinar. Mauris felis ante, hendrerit nec convallis eu, sagittis quis lacus. Nunc eu molestie turpis. Donec aliquam mi sed nisi consectetur vulputate. Aenean mollis pretium nisl eget pulvinar. In blandit eu mi vitae sollicitudin. Nunc fermentum rhoncus tortor, id condimentum velit sodales at.
    </p>
    <br>
    <div class="sixteen wide column" style="text-align:center">
        <button class="massive ui primary button">
        <i class="chart line icon"></i> My Skills
        </button>
    </div>
</div>
{% endblock content %}