{% extends 'base.html' %}

{% block title %}User Skills{% endblock title %}


{% block scripts %}
<script>

    $(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in qs %}'{{item.name}}',{% endfor %}],
                datasets: [{
                    label: '# of Votes',
                    data: [{% for item in qs %}{{item.score}},{% endfor %}],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });

</script>
{% endblock scripts %}

{% block content %}
    <canvas id="myChart" width="400" height="300"></canvas>
{% endblock content %}